doctype
<!--[if lte IE 9]><html lang="en" dir="ltr" class="lte-ie9 external-links ua-brand-icons sticky-footer"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html lang="en" dir="ltr" class="external-links ua-brand-icons sticky-footer"><!--<![endif]-->
  head
    include _includes/meta.pug
    title UA Bootstrap - CSS
    include _includes/scripts-and-styles.pug
  body.css-page(data-spy='scroll', data-target='#catstrap-sidebar')
    include _includes/navbar-nav.pug
    +mainnav(2)
    .page-title
      .container
        .row
          .col-xs-12.col-md-8
            h1 CSS
            p Global CSS settings and fundamental HTML elements.
    .main-content
      .container
        .row
          .col-md-9
            include:marked _includes/css/grid.md
            include:marked _includes/css/display.md
            include:marked _includes/css/flex.md
            include:marked _includes/css/typography.md
            include:marked _includes/css/tables.md
            include:marked _includes/css/forms.md
            include:marked _includes/css/buttons.md
            include:marked _includes/css/external-links.md
          .col-md-3
            include:marked _includes/css/side-nav.md

    include:marked _includes/footer.md
    include _includes/footer-scripts.pug