doctype
<!--[if lte IE 9]><html lang="en" dir="ltr" class="lte-ie9 external-links ua-brand-icons sticky-footer"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)]><!--><html lang="en" dir="ltr" class="external-links ua-brand-icons sticky-footer"><!--<![endif]-->
  head
    include _includes/meta.pug
    title UA Bootstrap - Example Page
    include _includes/scripts-and-styles.pug
  body
    header#region_header_ua.l-arizona-header.bg-red
      section.container.l-container
        .row
          a.arizona-logo(href='http://www.arizona.edu', title='The University of Arizona homepage')
            img.arizona-line-logo(alt='The University of Arizona Wordmark Line Logo White', src='https://cdn.uadigital.arizona.edu/logos/v1.0.0/ua_wordmark_line_logo_white_rgb.min.svg')
    // START CODE EXAMPLE
    .container
      .row.unselectable
        .collapse.collapseCode
          .code-only
            h5 Arizona Banner
            :marked
              ```html
              <body>
                <!--   ++++++++++++++ Place inside body tag ++++++++++++++   -->
                <header id="region_header_ua" class="l-arizona-header bg-red">
                  <section class="container l-container">
                    <div class="row">
                      <a href="http://www.arizona.edu" title="The University of Arizona homepage" class="arizona-logo">
                         <img alt="The University of Arizona Wordmark Line Logo White" src="https://cdn.uadigital.arizona.edu/logos/v1.0.0/ua_wordmark_line_logo_white_rgb.min.svg" class="arizona-line-logo">
                      </a>
                     </div>
                   </section>
                </header>
              ```
    // END CODE EXAMPLE
    #l_page
      #header_site
        .container
          .row
            .col-sm-6
              #site_identifier
                a(href='#')
                  img(src='img/placeholder-logo.png')
            .col-sm-6
              .row
                .col-xs-12
                  #utility_links
                    ul
                      li
                        a(href='#') Utility Link 1
                      li
                        a(href='#') Utility Link 2
                      li
                        a(href='#') Utility Link 3
              .row
                .col-sm-8.col-sm-offset-4.col-md-6.col-md-offset-6.col-lg-5.col-lg-offset-7
                  .form-group
                    label.sr-only(for='ua-bootstrap-search') Search
                    .search-form
                      input#ua-bootstrap-search.form-control.input-search(type='text' placeholder='Search for...')
                      input.btn-search(type='submit', name='op', value='Search')
          // START CODE EXAMPLE
          .row.unselectable
            .collapse.collapseCode
              .highlight
                h5 LOGO CODE
                :marked
                  ```html
                  <div id="site_identifier">
                    <a href="#"><img src="img/placeholder-logo.png"></a>
                  </div>
                  ```
            // END CODE EXAMPLE
            // START CODE EXAMPLE
            .collapse.collapseCode
              .highlight
                h5 UTILITY LINKS CODE
                :marked
                  ```html
                  <div id="header_site">
                   <!--   ++++++++++++++ Below Required Container #header_site ++++++++++++++   -->
                      <div id="utility_links">
                       <ul>
                         <li><a href="#">Utility Link 1</a></li>
                         <li><a href="#">Utility Link 2</a></li>
                         <li><a href="#">Utility Link 3</a></li>
                       </ul>
                     </div>
                  ```
            // END CODE EXAMPLE
            // START CODE EXAMPLE
            .collapse.collapseCode
              .highlight
                h5 SEARCH BOX CODE
                :marked
                  ```html
                  <div id="header_site">
                  <!--   ++++++++++++++ Below Required Container #header_site ++++++++++++++   -->
                    <div class="form-group">
                      <label class="sr-only" for="ua-bootstrap-search">Search</label>
                      <div class="search-form">
                        <input class="form-control input-search" id="ua-bootstrap-search" type="text" placeholder="Search for...">
                        <input class="btn-search" type="submit" name="op" value="Search">
                      </div>
                    </div>
                  ```
          // END CODE EXAMPLE
          .row
            .col-xs-12
              include _includes/navbar-nav.pug
              +mainnav(6)
          // START CODE EXAMPLE
          .row
            .collapse.collapseCode
              .highlight
                h5 MENU CODE
                :marked
                  ```html
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="navbar-header">
                          <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                          <ul class="nav navbar-nav">
                            <li class="false"><a href="index.html">Getting Started</a></li>
                            <li class="false"><a href="css.html">CSS</a></li>
                            <li class="false"><a href="fonts.html">Fonts</a></li>
                            <li class="active"><a href="interior-example.html">Example</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- /.nav-collapse-->
                  </div>
                  ```
          // END CODE EXAMPLE
        // /.container
      // /#header_site
      #content_featured
        .interior-featured-bg.text-center
          button.btn.btn-red(style='margin-top: 5em;', type='button', data-toggle='collapse', data-target='.collapseCode', aria-expanded='false', aria-controls='collapseCode')
            | Expose Code
      #content_main
        .container
          .row
            #content.col-md-9.col-md-push-3
              ol.breadcrumb
                li
                  a(href='#') Home
                li
                  a(href='#') Parent Page
                li.active Page Title
              // START CODE EXAMPLE
              .collapse.collapseCode
                .highlight
                  h5 BREADCRUMB CODE
                  :marked
                    ```html
                    <ol class="breadcrumb">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">Parent Page</a></li>
                      <li class="active">Page Title</li>
                    </ol>
                    ```
              // END CODE EXAMPLE
              h1 Page Title
              p.lead
                | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
              // START CODE EXAMPLE
              .collapse.collapseCode
                .highlight
                  h5 Subheading Example
                  :marked
                    ```html
                    <p class="lead">...</p>
                    ```
              // END CODE EXAMPLE
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              img.img-responsive.pull-left(src='img/example-image.jpg', style='margin: 0.5rem 2rem 0.5rem 0')
              p
                | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi&nbsp;
                a(href='#') this is how a link looks
                | &nbsp;architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
              p
                | Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et.
              p
                a.btn.btn-lg.btn-red(href='#') Button style
                a.btn.btn-lg.btn-blue(href='#', style='margin-left: 8px;') Button style
              p &nbsp;
              h3 Paragraph Title
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              ul
                li Nam eu vehicula risus
                li
                  a(href='#') Integer sodales magna lacus
                li Efficitur auctor augue ornare at
              ul.triangle
                li Nam quis auctor justo
                li
                  a(href='#') Aenean lobortis est sit amet ipsum porttitor
                li Sed fringilla lorem consequat
              ol
                li Quisque leo sapien, mattis vitae nulla
                li
                  a(href='#') Tempus ullamcorper purus
                li Aliquam vulputate suscipit ex, ut laoreet enim accumsan nec
              // START CODE EXAMPLE
              .collapse.collapseCode
                .highlight
                  h5 LIST STRUCTURE
                  :marked
                    ```html
                    <ul>
                      <li>Nam eu vehicula risus</li>
                      <li><a href="#">Integer sodales magna lacus</a></li>
                      <li>Efficitur auctor augue ornare at</li>
                    </ul>
                    <ul class="triangle">
                      <li>Nam quis auctor justo</li>
                      <li><a href="#">Aenean lobortis est sit amet ipsum porttitor</a></li>
                      <li>Sed fringilla lorem consequat</li>
                    </ul>
                    <ol>
                      <li>Quisque leo sapien, mattis vitae nulla</li>
                      <li><a href="#">Tempus ullamcorper purus</a></li>
                      <li>Aliquam vulputate suscipit ex, ut laoreet enim accumsan nec</li>
                    </ol>
                    ```
              // END CODE EXAMPLE
              p &nbsp;
              .table-responsive
                table.table.table-striped
                  thead
                    tr
                      th Building
                      th Year Built
                      th Fun Fact
                  tbody
                    tr
                      td Old Main
                      td 1891
                      td Declared unsafe in 1938 and almost demolished
                    tr
                      td Nugent Building
                      td 1937
                      td Originally the Administration Building
                    tr
                      td Koffler Building
                      td 1992
                      td The large arch represents research breakthroughs made by UA scientists
                    tr
                      td Bear Down Gym
                      td 1926
                      td
                        a(href='#') The main sports arena for basketball until 1970
                    tr
                      td Meinel Optical Sciences
                      td 1970
                      td 2007 AIA National Honor Award for Architecture
              // START CODE EXAMPLE
              .collapse.collapseCode
                .highlight
                  h5 TABLE CODE
                  :marked
                    ```html
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Building</th>
                                <th>Year Built</th>
                                <th>Fun Fact</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Old Main</td>
                                <td>1891</td>
                                <td>Declared unsafe in 1938 and almost demolished</td>
                            </tr>
                            <tr>
                                <td>Nugent Building</td>
                                <td>1937</td>
                                <td>Originally the Administration Building</td>
                            </tr>
                            <tr>
                                <td>Koffler Building</td>
                                <td>1992</td>
                                <td>The large arch represents research breakthroughs made by UA scientists</td>
                            </tr>
                            <tr>
                                <td>Bear Down Gym</td>
                                <td>1926</td>
                                <td><a href="#">The main sports arena for basketball until 1970</a>
                    </td>
                            </tr>
                            <tr>
                                <td>Meinel Optical Sciences</td>
                                <td>1970</td>
                                <td>2007 AIA National Honor Award for Architecture</td>
                            </tr>
                        </tbody>
                    </table>
                    ```
              // END CODE EXAMPLE
              form
                .form-group
                  label(for='exampleInputEmail1') Input Title
                  input#exampleInputEmail1.form-control(type='email', placeholder='Placeholder text')
                .form-group
                  label(for='exampleInputEmail1') Input Title
                  textarea.form-control(rows='5', placeholder='Placeholder text')
                br
                // START CODE EXAMPLE
                .collapse.collapseCode
                  .highlight
                    h5 INPUT FORM CODE
                    :marked
                      ```html
                      <div class="form-group">
                          <label for="exampleInputEmail1">Input Title</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Placeholder text">
                      </div>
                      <div class="form-group">
                          <label for="exampleInputEmail1">Input Title</label>
                          <textarea class="form-control" rows="5" placeholder="Placeholder text"></textarea>
                      </div>
                      ```
                // END CODE EXAMPLE
                .input-group
                  label
                    | Checkboxes
                    span.form-required(title='This field is required.') *
                  .checkbox
                    label
                      input(type='checkbox', value='')
                      |     Option one is this and that—be sure to include why it's great
                  .checkbox.disabled
                    label
                      input(type='checkbox', value='', disabled='')
                      |     Option two is disabled
                // START CODE EXAMPLE
                .collapse.collapseCode
                  .highlight
                    h5 CHECKBOX CODE
                    :marked
                      ```html
                      <!-- For the checkboxes to render properly the minimum requirements are shown. -->
                      <div class="input-group">
                        <label>Checkboxes<span title="This field is required." class="form-required">*</span></label>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" value="">    Option one is this and that—be sure to include why it's great
                          </label>
                        </div>
                        <div class="checkbox disabled">
                          <label>
                            <input type="checkbox" value="" disabled="">    Option two is disabled
                          </label>
                        </div>
                      </div>
                      ```
                // END CODE EXAMPLE INLINE CHECKBOXES
                .form-group
                  label Inline Checkboxes
                    span.form-required(title='This field is required.') *
                  .checkbox.checkbox-inline
                    label
                      input(type='checkbox', value='')
                      | Check box 1
                  .checkbox.checkbox-inline
                    label
                      input(type='checkbox', value='')
                      | Check box 2
                  .checkbox.checkbox-inline
                    label
                      input(type='checkbox', value='')
                      | Checkbox 3

                .input-group
                // START CODE EXAMPLE
                .collapse.collapseCode
                  .highlight
                    h5 INLINE CHECKBOX CODE
                    :marked
                      ```html
                      <div class="form-group">
                        <label>Inline Checkboxes<span title="This field is required." class="form-required">*</span></label>
                        <div class="checkbox checkbox-inline">
                          <label>
                            <input type="checkbox" value="">Check box 1
                          </label>
                        </div>
                        <div class="checkbox checkbox-inline">
                          <label>
                            <input type="checkbox" value="">Check box 2
                          </label>
                        </div>
                        <div class="checkbox checkbox-inline">
                          <label>
                            <input type="checkbox" value="">Checkbox 3
                          </label>
                        </div>
                      </div>
                      ```
                // END CODE EXAMPLE
                .input-group
                  label
                    | Radios
                    span.form-required(title='This field is required.') *
                    .radio
                      label
                        input#optionsRadios1(type='radio', name='optionsRadios', value='option1', checked='')
                        |     Option one is this and that—be sure to include why it's great
                    .radio
                      label
                        input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                        |     Option two can be something else and selecting it will deselect option one
                    .radio.disabled
                      label
                        input#optionsRadios3(type='radio', name='optionsRadios', value='option3', disabled='')
                        |     Option three is disabled
                // START CODE EXAMPLE
                .collapse.collapseCode
                  .highlight
                    h5 RADIO CODE
                    :marked
                      ```html
                      <div class="input-group">
                        <label>Radios<span title="This field is required." class="form-required">*</span>
                          <div class="radio">
                            <label>
                              <input id="optionsRadios1" type="radio" name="optionsRadios" value="option1" checked="">    Option one is this and that—be sure to include why it's great
                            </label>
                          </div>
                          <div class="radio">
                            <label>
                              <input id="optionsRadios2" type="radio" name="optionsRadios" value="option2">    Option two can be something else and selecting it will deselect option one
                            </label>
                          </div>
                          <div class="radio disabled">
                            <label>
                              <input id="optionsRadios3" type="radio" name="optionsRadios" value="option3" disabled="">    Option three is disabled
                            </label>
                          </div>
                        </label>
                      </div>
                      ```
                // END CODE EXAMPLE
                .input-group
                  label
                    | Inline Radios
                    span.form-required(title='This field is required.') *
                  label.radio-inline
                    input#inlineRadio1(type='radio', name='inlineRadioOptions', value='option1')
                    |  Radio 1
                  label.radio-inline
                    input#inlineRadio2(type='radio', name='inlineRadioOptions', value='option2')
                    |  Radio 2
                  label.radio-inline
                    input#inlineRadio3(type='radio', name='inlineRadioOptions', value='option3')
                    |  Radio 3
                // START CODE EXAMPLE
                .collapse.collapseCode
                  .highlight
                    h5 INLINE RADIO CODE
                    :marked
                      ```html
                      <div class="input-group">
                        <label>Inline Radios<span title="This field is required." class="form-required">*</span></label>
                        <label class="radio-inline">
                          <input id="inlineRadio1" type="radio" name="inlineRadioOptions" value="option1"> Radio 1
                        </label>
                        <label class="radio-inline">
                          <input id="inlineRadio2" type="radio" name="inlineRadioOptions" value="option2"> Radio 2
                        </label>
                        <label class="radio-inline">
                          <input id="inlineRadio3" type="radio" name="inlineRadioOptions" value="option3"> Radio 3
                        </label>
                      </div>
                      ```
                // END CODE EXAMPLE
                input.btn.btn-md.btn-red(type='submit', value='Submit')
            // /.col-md-9
            // Sidebar
            #sidebar_first.col-md-3.col-md-pull-9
              .quick-links
                h3 Sidebar Title
                ul.nav.nav-pills.nav-stacked
                  li(role="presentation")
                    a(href='#') Sidebar Navigation 2
                  li(role="presentation")
                    a(href='#') Sidebar Navigation 3
                  li.active(role="presentation")
                    a(href='#') Sidebar Navigation 1
                  li(role="presentation")
                    a(href='#') Sidebar Navigation 4
                  li(role="presentation")
                    a(href='#') Sidebar Navigation 5
                  li(role="presentation")
                    a(href='#') Sidebar Navigation 6
                  li(role="presentation")
                    a(href='#') Sidebar Navigation 7
                  li(role="presentation")
                    a(href='#') Sidebar Navigation 8
              // START CODE EXAMPLE
              p &nbsp;
              .collapseCode.collapse
                .highlight
                  h5 SIDEBAR STRUCTURE
                  :marked
                    ```html
                    <div id="sidebar_first" class="col-md-3 pull-left">
                      <div class="quick-links">
                        <h3>Sidebar Title</h3>
                        <ul class="nav nav-pills nav-stacked">
                          <li><a href="#">Sidebar Navigation 1</a></li>
                          <li><a href="#">Sidebar Navigation 2</a></li>
                          <li><a href="#">Sidebar Navigation 3</a></li>
                          <li><a href="#">Sidebar Navigation 4</a></li>
                          <li><a href="#">Sidebar Navigation 5</a></li>
                          <li><a href="#">Sidebar Navigation 6</a></li>
                          <li><a href="#">Sidebar Navigation 7</a></li>
                          <li><a href="#">Sidebar Navigation 8</a></li>
                        </ul>
                      </div>
                    </div>
                    ```
              // END CODE EXAMPLE
            // End Sidebar
      // /#content_main
      footer#footer_site
        .container
          .row
            .col-md-6
              #footer_logo.text-center-sm.text-center-xs.text-left
                a(href='#')
                  img(src='img/placeholder-logo.png')
            .col-md-6
              #footer_menu.text-center-sm.text-center-xs.text-right
                ul
                  li
                    a(href='#') Link 1
                  li
                    a(href='#') Link 2
                  li
                    a(href='#') Link 3
                  li
                    a(href='#') Link 4
                  li.last
                    a(href='#') Link 5
          hr
          .row
            .col-md-12
              #footer_copyright.text-center
                | Wilbur Building, Room 1891   |   The University of Arizona   |   Tucson, AZ USA 85721    <br>
                | Phone: (520) 621-2211  |   Email:&nbsp;
                a(href='#') department.name@email.arizona.edu <br>
                | © 2016 The Arizona Board of Regents on behalf of the University of Arizona   |&nbsp;
                a(href='#') Feedback
        // /.container
    // /#l_page
    include:marked _includes/footer.md
    include _includes/footer-scripts.pug
